<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
    <body class="text-center">
        <main class="form-signup w-100 m-auto h-100">
            <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
                
                <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" /> -->
                <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

                <div class="form-floating">
                  <input type="fullname" formControlName="fullName" class="form-control" id="floatingInput" placeholder="Full Name"
                    [ngClass]="{'is-invalid': (component['fullName'].invalid && component['fullName'].dirty) || (submitted && component['fullName'].invalid && frm.get('fullName').value),
                                'is-valid': component['fullName'].valid && frm.get('fullName').value}" />
                  <label for="fullname">Full Name</label>
                  <div class="invalid-feedback">
                    <div *ngIf="frm.get('fullName').hasError('required')">
                      Full Name is required.
                    </div>
                    <div *ngIf="frm.get('fullName').hasError('minlength')">
                      Full Name should be at least 3 characters long.
                    </div>
                    <div *ngIf="frm.get('fullName').hasError('maxlength')">
                      Full Name should be at most 50 characters long.
                    </div>
                  </div>
                </div>
                

                <div class="form-floating">
                    <input type="username" formControlName="userName" class="form-control" id="floatingInput" placeholder="User Name"
                    [ngClass]="{'is-invalid': (component['userName'].invalid && component['userName'].dirty) || (submitted && component['userName'].invalid && frm.get('userName').value),
                                'is-valid': component['userName'].valid && frm.get('userName').value}" />
                    <label for="username">User Name</label>
                    <div class="invalid-feedback">
                      <div *ngIf="frm.get('userName').hasError('required')">
                        User Name is required.
                      </div>
                      <div *ngIf="frm.get('userName').hasError('minlength')">
                        User Name should be at least 3 characters long.
                      </div>
                      <div *ngIf="frm.get('userName').hasError('maxlength')">
                        User Name should be at most 50 characters long.
                      </div>
                    </div>
                  </div>

                  

                <div class="form-floating">
                    <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    [ngClass]="{'is-invalid': (component['email'].invalid && component['email'].dirty) || (submitted && component['email'].invalid && frm.get('email').value),
                                'is-valid': component['email'].valid && frm.get('email').value}" />
                    <label for="email">Email</label>
                    <div class="invalid-feedback">
                      <div *ngIf="frm.get('email').hasError('required')">
                        Email is required.
                      </div>
                      <div *ngIf="frm.get('email').hasError('minlength')">
                        Email should be at least 3 characters long.
                      </div>
                      <div *ngIf="frm.get('email').hasError('maxlength')">
                        Email should be at most 50 characters long.
                      </div>
                      <div *ngIf="frm.get('email').hasError('email')">
                        Email should be at most email.
                      </div>
                    </div>
                </div>
                
                <div class="form-floating">
                    <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password"
                    [ngClass]="{'is-invalid': (component['password'].invalid && component['password'].dirty) || (submitted && component['password'].invalid && frm.get('password').value),
                                'is-valid': component['password'].valid && frm.get('password').value}" />

                    <label for="password">Password</label>
                    <div class="invalid-feedback">
                      <div *ngIf="frm.get('password').hasError('required')">
                        Password is required.
                      </div>
                      <div *ngIf="frm.get('password').hasError('minlength')">
                        Password should be at least 8 characters long.
                      </div>
                    </div>
                </div>

                <div class="form-floating">
                  <input type="password" formControlName="confirmPassword" class="form-control" id="floatingPassword" placeholder="Confirm Password" 
                  [ngClass]="{
                    'is-invalid': (frm.get('confirmPassword').invalid && frm.get('confirmPassword').dirty) || (submitted && frm.get('confirmPassword').invalid),
                    'is-valid': frm.get('confirmPassword').valid && frm.get('password').value === frm.get('confirmPassword').value
                  }"/>
                  <label for="confirmPassword">Confirm Password</label>
                  <div class="invalid-feedback">
                    <div *ngIf="frm.get('confirmPassword').hasError('required')">
                      Confirm Password is required.
                    </div>
                    <div *ngIf="frm.get('confirmPassword').hasError('notSame')">
                      Confirm Password should match Password.
                    </div>
                  </div>
                </div>
                

                <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" /> Remember me
                    </label>
                </div> -->
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Sign Up
                </button>
                <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
            </form>
        </main>
    </body>
    </div>


</div>
