.mat-elevation-z8 {
  max-width: max-content;
}
.mat-column-email {
  text-align: center;
}
.mat-column-nameSurname {
  text-align: center;
}
.mat-column-twoFactorEnabled {
  text-align: center;
}
.mat-column-userName {
  text-align: center;
}
.mat-column-role {
  text-align: center;
}

.button_edit {
  position: relative;
  width: 60px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0418ae;
  background-color: #11bbefba;
  overflow: hidden;
}

.button_edit,
.button_edit__icon,
.button_edit__text {
  transition: all 0.3s;
}

.button_edit .button_edit__text {
  position: relative;
  transform: translateX(0);
  color: #fff;
  font-weight: 600;
}

.button_edit .button_edit__icon {
  position: absolute;
  transform: translateX(50px);
  height: 100%;
  width: 19px;
  background-color: #0418ae;
 
}

.button_edit .svg {
  width: 20px;
  stroke: #fff;
}

.button_edit:hover {
  display: flex;
  background: #0418ae;
}

.button_edit:hover .button_edit__text {
  color: transparent;
}

.button_edit:hover .button_edit__icon {
  width: 100%;
  transform: translateX(0);
}

.button_edit:active .button_edit__icon {
  background-color: #03117e;
}

.button_edit:active {
  border: 1px solid #03117e;
}
