<button type="button" class="button" (click)="showProductQrCodeReading()">
    <span class="button__text">Product QrCode Reading</span>
    <span class="button__icon">
    </span>
</button>

<mat-drawer-container class="product-create">
    <mat-drawer mode="side" opened>
        <app-product-create (createdProduct)="createdProduct($event)"></app-product-create>
    </mat-drawer>
    <mat-drawer-content style="margin-left: 296px;">
        <app-product-list></app-product-list>
    </mat-drawer-content>
</mat-drawer-container>
