.product-create {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid #34974d;
}
.product-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #34974d;
}
.product-create .mat-drawer{
  width: 20%;
}


