/* @media (prefers-color-scheme: dark) {
  body:not(.light) {
    background: #232223;
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  .nav-link:not(.light) {
    background: #232223;
    color: white;
    
  }
  .nav-link:not(.light):hover {
    color: #dd5114;
  }
} */

.row {
  --bs-gutter-x: 0rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
}
#header-div{
  padding-left: 0;
  padding-right: 0;
}
.container{
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}

#header-bottom-border {
  background: linear-gradient(45deg, #ffb41d, #ff490c);
  background-size: 400%;
  animation: bottom-border 5s infinite;
}
@keyframes bottom-border {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.gradient {
  background: linear-gradient(45deg, #ffb41d, #ff490c);
  background-clip: text;
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  animation: text-gradient 5s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

@keyframes text-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.mini {
  font-size: 2.2rem;
  font-weight: 700;
}
.e-ticaret {
  font-size: 1.2rem;
  font-weight: 700;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #ffffff !important;
}
.navbar {
  height: 100px;
  //border-bottom: 2px solid rgb(208, 204, 204);
  background-color: #ffffff;
  display: flex;
  margin: auto;
  margin-left: 100px;
  margin-right: 10px;
  --bs-navbar-brand-margin-end: 3rem;
}
/* .navbar-nav {
  margin-right: 10px;
} */
.d-flex {
  display: flex;
}
.d-flex input {
  width: 400px;
  height: 35px;
  border-radius: 7px;
  padding-left: 20px;
}
.d-flex button {
  height: 35px;
  line-height: 1;
}

.dropdown-menu {
  --bs-dropdown-font-size: 13px;
  --bs-dropdown-padding-x: 1;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.text-small {
  font-size: 95%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
}
.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  --bs-nav-link-color: #707070;
  --bs-nav-link-hover-color: #dd5114;
}

.nav-link svg {
  width: 2em;
  height: 2em;
  margin-top: 0.25rem;
  margin-bottom: 4px;
}

#sign-in-dropdown {
  color: rgb(255, 102, 0);
}
#sign-in-dropdown:hover {
  color: rgb(194, 78, 1);
}

#register {
  padding: 0;
  margin-left: 25px;
  line-height: 1.5;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
#login {
  color: #ff6600;
}
#login:hover {
  color: #c24e01;
}

#cartbutton {
  color: #ff6600;
}

#cartbutton:hover {
  color: #c24e01;
}

.nav-link #signoutsvg {
  color: #dc3545;
}
.nav-link #signouttext {
  color: #dc3545;
}

.registertext {
  margin-left: 4px;
}

.logintext {
  margin-left: 4px;
}

#searchbox {
  position: relative;
  border-right: none;
  --bs-border-width: 1px;
}

#searchbox input.form-control:focus,
#searchbox button.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(253, 106, 13, 0.316);
  border-color: #ff6600;
}

#searchbox input.form-control:focus + button.btn {
  box-shadow: 0 0 0 3px #fd6a0d51;
}

#searchbox input.form-control,
#searchbox button.btn {
  transition: box-shadow 0.3s ease;
  border-right: none;
}

#searchbox button.btn {
  background-color: #ff6600;
  border-color: #ff6600;
  color: white;
  border-left: none;
}

.containerFullWidth {
  width: 100%;
}

.navigation-g9 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f3ef;
}

.menuItems-ic {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.menuItems-Wul {
  display: flex;
  align-items: center;
  height: 56px;
  cursor: default;
  z-index: 1;
}
.menuItems-Wul:hover {
  background-color: #ffffff;
}

.menuItems-UHH {
  position: relative;
  color: #646464;
}

.menuItems-UHH span {
  width: 100%;
  display: block;
  padding: 0 22px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -.28px;
}

.menuItems-Lui {
  visibility: hidden;
  position: absolute;
  top: 56px;
  background-color: #ffffff;
}

.childMenuItems-a4G0 ul {
  display: flex;
  flex-wrap: wrap;
}
.menuItems-MX{
  display: flex;
  margin: 0;
  padding: 0;
}
.separator {
  width: 1px;
  height: 24px;
  top: 50%;
  background-color: #bebebe83;
  margin: 0; /* İsteğe bağlı olarak sağ ve sol boşluk ekleyebilirsiniz */
  display: inline-block;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.childMenuItems-Kdz {
  text-decoration: none;
  color: #ff6600 ;
  cursor: pointer;
}
.childMenuItems-OIX {
  text-decoration: none;
  color: #646464 ;
  cursor: pointer;
}

.translate-middle{
  transform: translate(50%, -50%) !important;
}
.bg-danger{
  background-color: #ff6600 !important;
}
.badge{
  font-size: 11px !important;
  font-weight: 500;
}

.card-body {
  display: none; // Tüm card-body'leri başlangıçta gizle
  position: absolute; // Bağımsız bir katman olarak ayarla
  z-index: -1; // Diğer öğelerin altında açılacak

  h5,
  p,
  a {
    visibility: hidden; // Diğer içeriği gizle
  }
}

.card-body.show {
  display: block; // Sadece aktif kategoriye ait card-body'yi göster
  z-index: 1; // Diğer öğelerin üzerinde açılacak
  background-color: #fff;
  right: 0px !important;
  left: 0px !important;
  top: 46px !important;

  h5,
  p,
  a {
    visibility: visible; // Sadece aktif içeriği göster
  }
}