
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #ffffff !important
}
.navbarone{
    height: 100px;
    border-bottom: 2px solid rgb(208, 204, 204);
    background-color: #f5f5f5;
}
