<mat-form-field appearance="fill" class="category-create">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
</mat-form-field>

<mat-form-field appearance="fill" class="category-create">
    <mat-label>Description</mat-label>
    <input matInput #txtDescription>
</mat-form-field>

<mat-form-field appearance="fill" class="category-create">
    <mat-label>Parent Category</mat-label>
    <input matInput [matAutocomplete]="auto" #txtParentCategoryName (input)="onParentCategoryInput(txtParentCategoryName.value)">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let category of filteredCategories" [value]="category.name">
            {{ category.name }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>




<button type="button" class="button">
    <span class="button__text">Create Category</span>
    <span class="button__icon" (click)="create(txtName,txtDescription,txtParentCategoryName)"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
</button>