<mat-list role="list"  >
    <a mat-list-item role="listitem" routerLink="/admin" style="cursor: pointer;">Dashboard</a >
      <ul></ul>
    <a mat-list-item role="listitem" routerLink="customers" style="cursor: pointer;">Customers</a >
      <ul></ul>
    <a mat-list-item role="listitem" routerLink="orders" style="cursor: pointer;"> Orders</a >
      <ul></ul>
    <a mat-list-item role="listitem" routerLink="products" style="cursor: pointer;">Products</a >
      <ul></ul>
    <a mat-list-item role="listitem" routerLink="authorize-menu" style="cursor: pointer;">Authorize Menu</a >
      <ul></ul>
    <a mat-list-item role="listitem" routerLink="" style="cursor: pointer;">Siteyi Gör</a >

  </mat-list>