:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-create {
    margin: 2px 2px 2px;
}

.btn {
    margin: 10px 28px 2px;
}


.button {
  margin-left: 28px;
  position: relative;
  width: 170px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  margin-left: 10px;
  position: relative;
  transform: translateX(5px);
  color: #fff;
  font-weight: 500;
}

.button .button__icon {
  position: absolute;
  transform: translateX(124px);
  height: 100%;
  width: 38px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}