<mat-form-field appearance="fill" class="product-create">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
    <mat-label>Stock</mat-label>
    <input matInput type="number" min="0" value="0" #txtStock>
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
    <mat-label>Price</mat-label>
    <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
    <mat-label>CategoryName</mat-label>
    <input matInput #txtCategoryName>
</mat-form-field>

<button type="button" class="button">
    <span class="button__text">Create Product</span>
    <span class="button__icon" (click)="create(txtName,txtStock,txtPrice,txtCategoryName)"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
</button>