<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <button style=" margin-left: 5px;" (click)="selectAllRoles()"
          [disabled]="selectedRoles.length === selectRole.length">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square"
            viewBox="0 0 16 16">
            <path
              d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
            <path
              d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
          </svg>
        </button>
        <button class="btn" style="margin-left: 15px; padding: 0px 5px !important;" (click)="deleteSelectedRoles()"
          [disabled]="selectedRoles.length === 0" [ngClass]="{
                  'disabled-button': selectedRoles.length === 0
              }"><svg viewBox="0 0 15 17.5" height="17.5" width="15" xmlns="http://www.w3.org/2000/svg" class="icon">
            <path transform="translate(-2.5 -1.25)"
              d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z"
              id="Fill"></path>
          </svg>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="selectRole(element)" [checked]="selectedRoles.includes(element)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef width="45"></th>
      <td mat-cell *matCellDef="let element"> <button class="button_edit">
          <span class="button_edit__text">Edit</span><span class="button_edit__icon"><svg
              xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round"
              stroke-linecap="round" stroke="#a649da" height="24" fill="none" class="svg">
              <path d="m20 20h-16"></path>
              <path clip-rule="evenodd"
                d="m14.5858 4.41422c.781-.78105 2.0474-.78105 2.8284 0 .7811.78105.7811 2.04738 0 2.82843l-8.28322 8.28325-3.03046.202.20203-3.0304z"
                fill-rule="evenodd"></path>
            </svg></span>
        </button> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="45"></th>
      <td mat-cell *matCellDef="let element" appDelete [id]="element.roleId" (refresh)="getRoles()" controller="roles"> <!-- <img src="../../../../../assets/icons/delete.png" width="25" height="25" 
          (click)="delete(element.id, $event)"/> --> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="pageChanged()" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>